<table width=70% border="0" cellspacing="1" cellpadding="1" align ="center">
<tbody>
<tr>
	<td align="center">
		 <%= image_tag "head.gif" %>
		<%= @subdivision.first_part %>
	</td>
	<tr>
<td>
</table>